
/* btn style */

.btn {
  &.btn-primary {
    background: $orange-color;
    border-color: $orange-color;
    text-transform: uppercase;
    font-size: 16px;
    padding: 9px 25px;
    border-radius: 4px;
    transition: 0.3s all;
    font-family: $gotham-bold-font;
    position: relative;
    &:hover {
      background: #a4050d;
    }
    &:active {
      background: #a4050d !important;
      box-shadow: none !important;
      border-color: $orange-color !important;        
    }
    &:focus {		 
      box-shadow: none;
      &:after {
        border: 2px dotted #000;
        position: absolute;
        left: -6px;
        top: -6px;
        content: "";
        width: calc(100% + 12px);
        height: calc(100% + 12px);
        pointer-events: none;
        border-radius: 4px;
      }
    }
  }
   
  &.find-store-btn {
	position: relative;
	padding: 0;
		input {
			height: 48px;
			background: #f0f0f0;
			border: none;
			border-radius: 50px;
			padding: 0 24px 0 45px;
			text-align: center;
			width: 100%;
			text-transform: uppercase;
			font-family:$gotham-bold-font;
			transition: 0.3s all;
			font-size: 13px;
			width:170px;
			&:focus {
				outline:none;
				width: 225px;
				transition: 0.3s all;
				padding: 0 24px 0 24px;
				text-align:left;

			}
			
			&:hover {
			  background:#cccccc;
			}
			
			&:focus + .fa-map-marker + span.arrow-right {opacity:1;}
			&:focus + .fa-map-marker {display:none;}
		}
    
    
    .fa-map-marker {
      color: #E1251B;
      font-size: 18px;
      margin: 0px 6px 0 0px;
	  position: absolute;
	  left: 25px;
	  top: 15px;
    }

		span.arrow-right {
		position: absolute;
		right: 12px;
		top: 13px;
		background: #E1251B;
		color: #fff;
		border-radius: 50%;
		font-size: 14px;
		width: 22px;
		height: 22px;
		text-align: center;
		opacity: 0;
	}		
  } 

  &.btn-secondary {
    background: none;
    border: 2px solid $orange-color;
    text-transform: uppercase;
    font-size: 16px;
    padding: 9px 25px;
    border-radius: 4px;
    transition: 0.3s all;
    font-family: $gotham-bold-font;
    position: relative;
    color: $orange-color;
    &:hover {
      background: #a4050d;
	  color:#fff;
    }
    &:active {
      background: #a4050d !important;
      box-shadow: none !important;
      border-color: $orange-color !important;        
    }
    &:focus {		 
      box-shadow: none;
      &:after {
        border: 2px dotted #000;
        position: absolute;
        left: -6px;
        top: -6px;
        content: "";
        width: calc(100% + 12px);
        height: calc(100% + 12px);
        pointer-events: none;
        border-radius: 4px;
      }
    }
  }
}




.large-text-cta {
    font-size: 20px;
	border-bottom: 2px solid;
	text-decoration: none;
    padding-bottom: 5px;
    transition: 0.3s all;
	position: relative;	
	font-family: $gotham-bold-font;
	
	
	&.cta-white {
		border-bottom: 2px solid #fff;
		color:#fff;
		
		&::after {
			content:"";
			background: url(../images/link-layer-white.png);
			left: 0;
			opacity: 0;
			bottom: -7px;
			height: 10px;
			width: 100%;
			position: absolute;
			transition: 0.3s all;
		}
		
		&:hover {
			text-decoration: none;
			border-bottom:none;
			
			&:after {
				opacity: 1;
			}
		}
		
		&:focus {		 
		  box-shadow: none;
		  &:before {
			border: 2px dotted #fff;
			position: absolute;
			left: -12px;
			top: -9px;
			content: "";
			width: calc(100% + 24px);
			height: calc(100% + 24px);
			pointer-events: none;
			border-radius: 4px;
		  }
		}
	}
	
	&.cta-black {
		border-bottom: 2px solid #1c1c1c;
		color:#1c1c1c;
		
		&::after {
			content:"";
			background: url(../images/link-layer-blue.png);
			left: 0;
			background-repeat: no-repeat;
			opacity: 0;
			bottom: -7px;
			height: 10px;
			width: 100%;
			position: absolute;
			transition: 0.3s all;
		}
		
		&:hover {
			text-decoration: none;
			border-bottom:none;
			
			&:after {
				opacity: 1;
			}
		}
		
		&:focus {		 
		  box-shadow: none;
		  &:before {
			border: 2px dotted #1c1c1c;
			position: absolute;
			left: -12px;
			top: -9px;
			content: "";
			width: calc(100% + 24px);
			height: calc(100% + 24px);
			pointer-events: none;
			border-radius: 4px;
		  }
		}
	}
	
	
	

		
}



.small-text-cta {
    font-size: 16px;
	border-bottom: 2px solid;
	text-decoration: none;
    padding-bottom: 5px;
    transition: 0.3s all;
	position: relative;	
	
	&.bold {
		font-weight: bold;
	}
	&.cta-white {
		border-bottom: 2px solid #fff;
		color:#fff;
		
		&::after {
			content:"";
			background: url(../images/link-layer-white.png);
			left: 0;
			background-repeat: no-repeat;
			opacity: 0;
			bottom: -7px;
			height: 10px;
			width: 100%;
			position: absolute;
			transition: 0.3s all;
		}
		
		&:hover {
			text-decoration: none;
			border-bottom:none;
			
			&:after {
				opacity: 1;
			}
		}
		
		&:focus {		 
		  box-shadow: none;
		  &:before {
			border: 2px dotted #fff;
			position: absolute;
			left: -12px;
			top: -9px;
			content: "";
			width: calc(100% + 24px);
			height: calc(100% + 24px);
			pointer-events: none;
			border-radius: 4px;
		  }
		}
	}

	&.cta-black {
		border-bottom: 2px solid #1c1c1c;
		color:#1c1c1c;
		
		&::after {
			content:"";
			background: url(../images/link-layer-blue.png);
			left: 0;
			background-repeat: no-repeat;
			opacity: 0;
			bottom: -7px;
			height: 10px;
			width: 100%;
			position: absolute;
			transition: 0.3s all;
		}
		
		&:hover {
			text-decoration: none;
			border-bottom:none;
			
			&:after {
				opacity: 1;
			}
		}
		
		&:focus {		 
		  box-shadow: none;
		  &:before {
			border: 2px dotted #1c1c1c;
			position: absolute;
			left: -12px;
			top: -9px;
			content: "";
			width: calc(100% + 24px);
			height: calc(100% + 24px);
			pointer-events: none;
			border-radius: 4px;
		  }
		}
	}	
}


.icon-text-cta {
  display: flex;	
  a {
    font-size: 24px;
	font-family: $gotham-bold-font;
	transition: 0.3s all;
	position:relative;
	border-bottom: 2px solid;
  }	
  
  &.text-white {
	a {
		color:#fff;
		border-bottom: 2px solid #fff;
		padding-bottom:2px;
		&::after {
			content:"";
			background: url(../images/link-layer-blue.png);
			left: 0;
			background-repeat: no-repeat;
			opacity: 0;
			bottom: -7px;
			height: 10px;
			width: 100%;
			position: absolute;
			transition: 0.3s all;
		}
		
		&:hover {
			text-decoration: none;
			border-bottom-color:transparent;
			color:#003A5D;
			
			&:after {
				opacity: 1;
			}
		}
		
		&:focus {		 
		  box-shadow: none;
		  color:#003A5D;
		  &:before {
			border: 2px dotted #003A5D;
			position: absolute;
			left: -9px;
			top: -9px;
			content: "";
			width: calc(100% + 24px);
			height: calc(100% + 24px);
			pointer-events: none;
			border-radius: 4px;
		  }
		}
	}
  }
  
  .icon-media {
	margin-right:20px;
  }
} 

.read-more-link {  
  font-size:13px;
  color:#656565;
  text-decoration:underline;
}

.tag-style {
    color: #fff;
    text-transform: uppercase;
    padding: 5px 18px;
    margin-bottom: 15px;
    display: inline-block;
	font-size:13px;
	font-family: $gotham-bold-font;
	&.tag-bg1 {
		background: #00968F;
	}
	&.tag-bg2 {
		background: #004E7D;
	}
	&.tag-bg3 {
		background: #528B1A;
	}
	&.tag-bg4 {
		background: #00A1E4;
	}
}