

@media(min-width: 567px) and (max-width: 767px) {
    .container {
        max-width: 100%;
    }
}



*:focus {
    outline: none;
}

.mb-6, .my-6 {
    margin-bottom: 6rem !important;
}

@media(max-width: 767px) {
    .padding-col-xs-5 {
        padding-left: 5px;
    }
}

 